NET "clk" LOC = B8;
NET "reset" LOC = A7;
NET "led_out[7]" LOC = G1;
NET "led_out[6]" LOC = P4;
NET "led_out[5]" LOC = N4;
NET "led_out[4]" LOC = N5;
NET "led_out[3]" LOC = P6;
NET "led_out[2]" LOC = P7;
NET "led_out[1]" LOC = M11;
NET "led_out[0]" LOC = M5;