NET "CLK100MHZ" LOC = B8;
NET "SWITCH_RESET" LOC = A7;
NET "RX_INPUT" LOC = B9;
NET "TX_OUTPUT" LOC = A9;
NET "led_fpga[7]" LOC = G1;
NET "led_fpga[6]" LOC = P4;
NET "led_fpga[5]" LOC = N4;
NET "led_fpga[4]" LOC = N5;
NET "led_fpga[3]" LOC = P6;
NET "led_fpga[2]" LOC = P7;
NET "led_fpga[1]" LOC = M11;
NET "led_fpga[0]" LOC = M5;